*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.site-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #4d515d;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  height: 500px;
  background-color: white;
}
.box-item{
  margin-top: 50px;
  margin-left: 50px;
}
.box-item h1{
  margin-bottom: 15px;
  font-size: 40px;
}
.box-item p{
  font-weight: 500;
  font-size: 16px;
  color: #7d7f87;
  margin-bottom: 35px;
}
.box-item-list img{
  width: 30px;
  height: 30px;
  margin: 20px;
  margin-right: 70px;
}
.box-item-ul{
  margin-bottom: 25px;
}
.box-item-list{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 400px;
  height: 50px;
  border: 1px solid #9fa0a4;
}
.box-item-list a{
  font-weight: 700;
  text-decoration: none;
  color: #7d7f87;
  text-transform: uppercase;
}
.box-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-button p{
  margin-top: 30px;
  font-size: 11px;
  font-weight: 700;
  color: #000;
}
.box-button a{
  text-decoration: none;
  color: #7d7f87;
  font-size: 11px;
  text-transform: uppercase;
}
.box-image{
  margin-top: 4px;
}
